python-telegram-bot>=21.0.1
pandas>=2.0.3
openpyxl>=3.1.2
Flask>=3.0.2
apscheduler>=3.10.1
numpy>=1.26.0  # تم التحديث إلى إصدار متوافق مع Python 3.12
setuptools>=68.0.0  # أضف هذه السطر
python-dotenv>=1.0.0
waitress>=2.1.2
